.btn {
  display: inline-flex;
  box-sizing: border-box;
  padding: 15px 40px;
  border: 2px solid @black;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  color: @black;
  font-family: Open Sans, SemiBold;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.375;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  transition: background-color 0.2s, border-color 0.2s, color 0.2s;
  &:hover,
  &:active{
    background-color: @black;
    color: @white;
  }
   &__icon {
    pointer-events: none;
  }
}
.btn--red {
    background-color: @red;
    color: white;
    border: none;
    font-family: Open Sans, SemiBold;
}

.btn--red:hover {
    background-color: @red_dark;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(255, 59, 48, 0.3);
}
