.events {
    padding: 140px 0 100px;
    
    @media @bw1340 {
        padding: 90px 0 100px;
    }
    
    @media @bw768 {
        padding: 80px 0 100px;
    }
    
    
    
    
    &__section-description {
        margin: 0 293px 40px 293px; 
        text-align: left; 
        line-height: 1.6; 
        
        @media @bw768 {
            margin: 0 20px 40px 20px;
        }
    }
    
}

  
