.page-footer {
  .container;
  padding-bottom: 75px;

  @media @bw1170 {
    padding-bottom: 60px;
  }

  @media @bw600 {
    padding-bottom: 50px;
  }

  &__liners {
    display: flex;
    margin-bottom: 60px;
    padding-right: 100px;
    gap: 100px;

    @media @bw1660 {
      gap: 90px;
    }

    @media @bw1020 {
      gap: 50px;
    }

    @media @bw768 {
      gap: 30px;
      margin-bottom: 40px;
      padding-right: 60px;
    }

    @media @bw600 {
      gap: 20px;
      padding-right: 40px;
    }

    &::before,
    &::after {
      content: "";
      flex-grow: 1;
      width: 2px;
      height: 2px;
    }

    &::before {
      background: linear-gradient(
        270deg,
        #1c1b1b 0%,
        rgba(255, 255, 255, 0) 82.86%
      );
    }

    &::after {
      background: linear-gradient(
        90deg,
        #1c1b1b 0%,
        rgba(255, 255, 255, 0) 100%
      );
    }
  }

  &__block {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    margin-bottom: 60px;

    @media @bw768 {
      gap: 30px;
      margin-bottom: 40px;
    }
  }

  &__block-links {
    position: relative;
    padding-left: 26px;
    display: flex;
    flex-direction: column;
    gap: 22px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 4px;
      background-color: @red;
    }

    @media @bw768 {
      padding-left: 20px;
      gap: 15px;
    }
  }

  &__block-link {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.3;
    color: @black;
    transition: color 0.2s;

    &:hover {
      @media (hover: hover) {
        color: @red;
      }
    }

    &:active {
      color: @red;
    }

    @media @bw768 {
      font-size: 14px;
    }

    @media @bw500 {
      font-size: 12px; 
    }
  }

  &__block2 {
    display: grid;
    grid-template-columns: 1fr 160px 1fr;
    grid-template-areas: "copyright socials create" "links socials create";

    @media @bw1020 {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "socials socials"
        "copyright copyright"
        "links create";
    }

    @media @bw768 {
      gap: 20px;
    }
  }

  &__socials {
    grid-area: socials;

    @media @bw1020 {
      margin: 0 auto 60px;
    }

    @media @bw768 {
      margin-bottom: 30px;
    }
  }

  &__block2-links {
    grid-area: links;
    display: flex;
    gap: 60px;

    @media @bw1340 {
      gap: 30px;
    }

    @media @bw1020 {
      gap: 15px;
    }

    @media @bw768 {
      gap: 20px;
    }
  }

  &__block2-link {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.3;
    color: @black;
    transition: color 0.2s;

    &:hover {
      @media (hover: hover) {
        color: @red;
      }
    }

    &:active {
      color: @red;
    }

    @media @bw768 {
      font-size: 14px;
    }

    @media @bw500 {
      font-size: 12px; 
    }
  }

  &__copyright {
    grid-area: copyright;
    margin-bottom: 20px;

    @media @bw1020 {
      margin-bottom: 14px;
    }

    @media @bw768 {
      font-size: 14px;
    }

    @media @bw500 {
      font-size: 12px; 
    }
  }

  &__create {
    grid-area: create;
    margin-left: auto;
    align-self: flex-end;
    display: flex;
    align-items: flex-end;
    gap: 15px;

    @media @bw768 {
      gap: 10px;
    }

    @media @bw500 {
      gap: 8px;
      font-size: 12px; 
    }
  }

  &__create-link {
    flex-shrink: 0;
    font-size: 0;
    color: @black;
    transition: color 0.2s;

    &:hover {
      @media (hover: hover) {
        color: @red;
      }
    }

    &:active {
      color: @red;
    }

    @media @bw768 {
      svg {
        width: 70px;
        height: 30px;
      }
    }

    @media @bw500 {
      svg {
        width: 60px; 
        height: 25px;
      }
    }
  }

  .subscribe-form {
    max-width: 410px;
    width: 100%;

    @media @bw768 {
      max-width: 350px;
    }

    @media @bw500 {
      max-width: 100%;
    }

    &__title {
      margin: 0 0 15px;
      font-weight: 600;
      font-size: 16px;
      line-height: 1.3;

      @media @bw768 {
        font-size: 14px;
        margin-bottom: 10px;
      }

      @media @bw500 {
        font-size: 12px;
      }
    }

    &__wrapper {
      display: flex;
      height: 50px;
      margin-bottom: 15px;

      @media @bw768 {
        height: 45px;
        margin-bottom: 12px;
      }

      @media @bw500 {
        flex-wrap: wrap;
        height: auto;
        gap: 8px;
      }
    }

    &__wrapper:has(.error) {
      margin-bottom: 25px;
    }

    &__field-wrapper {
      flex-grow: 1;

      @media @bw500 {
        width: 100%;
        flex: 0 0 100%;
      }
    }

    &__input {
      box-sizing: border-box;
      height: 100%;
      width: 100%;
      background-color: @white;
      border-radius: 0;
      border: none;
      padding: 15px 28px;
      font-size: 14px;
      line-height: 1.2;
      color: @black;

      @media @bw768 {
        padding: 12px 20px;
        font-size: 13px;
      }

      @media @bw500 {
        height: 40px;
        padding: 10px 15px;
        font-size: 12px; 
      }

      &::placeholder {
        color: @gray;
      }
    }

    &__submit {
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      border-radius: 0;
      border: none;
      outline: none;
      height: 100%;
      padding: 15px 23px;
      background-color: @black;
      color: @white;
      font-size: 14px;

      @media @bw768 {
        padding: 12px 18px;
        font-size: 13px;
      }

      @media @bw500 {
        width: 100%;
        height: 40px;
        padding: 10px 15px;
        font-size: 12px; 
      }
    }

    .check {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      &__input,
      &__mark,
      &__label {
        order: 0;
      }

      &__label {
        @media @bw768 {
          font-size: 13px;
        }

        @media @bw500 {
          font-size: 11px; 
        }
      }

      .error {
        order: 1;
        width: 100%;
        margin-left: 25px;
        margin-top: 5px;
        margin-bottom: 0;
        color: @red;
        display: block;
        font-size: 14px;

        @media @bw768 {
          font-size: 12px;
        }

        @media @bw500 {
          font-size: 10px; 
          margin-left: 20px;
        }
      }
    }
  }
}

.socials {
  display: flex;
  gap: 10px;
  align-items: center;

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 58px;
    height: 58px;
    background-color: @black;
    border-radius: 50%;
    color: @white;
    transition: background-color 0.2s;

    @media @bw768 {
      width: 48px;
      height: 48px;
    }

    @media @bw500 {
      width: 40px; 
      height: 40px;
    }

    &:hover {
      @media (hover: hover) {
        background-color: @red;
      }
    }

    &:active {
      color: @red;
    }
  }

  &__icon {
    display: block;
    width: 24px;
    height: 24px;
    fill: currentColor;

    @media @bw768 {
      width: 20px;
      height: 20px;
    }

    @media @bw500 {
      width: 18px; 
      height: 18px;
    }
  }
}