.table {
     border-collapse: collapse;
    color: @black;
    text-align: center;
    margin-bottom: 40px; 
    margin-left: 293px;
    width: calc(100% - 586px); 
    
    @media @bw768 {
        margin: 0 -20px 40px -20px;
        display: block;
        width: calc(100% + 40px);
    }

    &__head,
    &__body,
    &__footer {       
        @media @bw768 {
            display: block;
        }
    }

    &__head-tr {
        @media @bw768 {
            display: flex;
        }
    }

    &__tr {
        &:nth-child(2n-1) {
            background-color: fade(@black, 3%);
        }
        
        @media @bw768 {
            display: flex;
            flex-wrap: wrap;
        }
    }

    &__th {
        height: 85px;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        
        @media @bw768 {
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 33.3333%;
            height: auto;
        }
        
        &:first-child {
            @media @bw768 {
                display: none;
            }
        }
    }

    &__footer-th {
        height: 60px;
        font-size: 0;
        
        @media @bw768 {
            font-weight: 300;
            width: 33.3333%;
            font-size: 16px;
        }
        
        &:first-child {
            @media @bw768 {
                display: none;
            }
        }
    }

    &__th,
    &__footer-th {
        box-sizing: border-box;
        padding: 10px;
        border-right: 1px solid @gray_dark;
        text-transform: uppercase;
        
        &:first-child {
            padding-left: 0;
        }
        
        &:last-child {
            border-right: none;
            padding-right: 0;
        }
    }

    &__body-th {
        box-sizing: border-box;
        height: 50px;
        padding: 10px 10px 10px 0;
        border-top: 1px solid @gray_dark;
        border-bottom: 1px solid @gray_dark;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        text-align: left;
        
        @media @bw768 {
            display: block;
            width: 100%;
            min-height: 50px;
            height: auto;
            text-align: center;
        }
    }

    &__td {
        box-sizing: border-box;
        height: 50px;
        padding: 10px;
        border: 1px solid @gray_dark;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        
        @media @bw768 {
            display: block;
            width: 33.33333%;
        }
        
        &:last-child {
            border-right: none;
            padding-right: 0;
        }
    }
    
    &__footer-tr {
        @media @bw768 {
            display: flex;
        }
    }
    
    &__ok {
        display: block;
        position: relative;
        width: 26px;
        height: 26px;
        margin: auto;
        border-radius: 50%;
        background-color: @black;
        
        &::after {
            content: "";
            box-sizing: border-box;
            display: block;
            position: absolute;
            top: 4px;
            left: 9px;
            width: 8px;
            height: 14px;
            border-right: 2px solid @white;
            border-bottom: 2px solid @white;
            transform: rotate(45deg);   
        }
    }
    
}
section.events__services .section__section-title.section-title {
  margin-left: auto !important;
  margin-right: auto !important;
  width: 625px !important;
  margin-top: 60px !important;
  margin-bottom: 150px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  
  @media @bw1660 {
    margin-bottom: 130px !important;
  }
  @media @bw1340 {
    margin-bottom: 100px !important;
  }
  @media @bw768 {
    width: calc(100% - 40px) !important;
    margin-bottom: 80px !important;
  }
}

section.events__services .events__section-description {
  margin: 0 40px 40px 40px !important;
  text-align: left !important;
  
  @media @bw768 {
    margin: 0 20px 40px 20px !important;
  }
}

section.events__services .events__traiffs-table.table {
  margin-left: 40px !important;
  margin-right: 40px !important;
  width: calc(100% - 80px) !important;
  box-sizing: border-box !important;
  
  @media @bw768 {
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 100% !important;
  }
}

section.events__services .events__traiffs-table.table,
section.events__services .events__traiffs-table.table * {
  box-sizing: border-box;
}

section.events__services .events__traiffs-table.table .table__th:first-child,
section.events__services .events__traiffs-table.table .table__td:first-child,
section.events__services .events__traiffs-table.table .table__body-th:first-child {
  padding-left: 10px !important;
}

section.events__services .events__traiffs-table.table .table__th:last-child,
section.events__services .events__traiffs-table.table .table__td:last-child,
section.events__services .events__traiffs-table.table .table__body-th:last-child {
  padding-right: 10px !important;
}